
/**
 * Testing logo.
 */

.logo[data-logo="Testing"] {
  width: 0;
}

.logo[data-logo="Testing"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Testing"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Testing"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
